<footer class="footer">
  <div class="container py-2 text-center">
    <div class="text-muted mt-1">Event Management System</div>
    <div class="text-muted mb-1">Team 503: Service Unavailable © 2019</div>
  </div>
</footer>